<!DOCTYPE html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="css/stile2.css">

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div >
<nav >
        <a th:href="@{/}">Home</a>
        
        <a th:href="@{/r}">Crea Quiz</a>
        
        <a th:href="@{/v}">Gioca</a>
        
        <a th:href="@{/a}">Modifica/Cancella</a>
    </nav>
<form method="post" id="f">


</form>

<script th:src="@{/js/mod-del.js}"></script> 
</div>

</body>
</html>