<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="css/stile2.css">
<title>Insert title here</title>
</head>
<body>
<div >
<nav >
        <a th:href="@{/}">Home</a>
        
        <a th:href="@{/r}">Crea Quiz</a>
        
        <a th:href="@{/v}">Gioca</a>
        
        <a th:href="@{/a}">Modifica/Cancella</a>
    </nav>

<form id="f" >
 
 
 </form>

</div>
  <script th:src="@{/js/JS_visualizza.js}"></script> 


</body>
</html>